.main-cart{
  margin-top: 24px;
}

.main-cart__img {
  margin-right: 8px;
  --span: 5;
  grid-column: span var(--span);
}

.main-cart__img img{
  max-width: 100%;
  height: auto;
}

.main-cart__text{
  --span: 7;
  grid-column: span var(--span);
}

.main-cart__text h2{
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-font);
}

.cart__row {
  padding: 6px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.cart__row:not(:nth-of-type(2n)) {
  background-color:#f5f5f5;
}


.cart__row-type {
  width: 50%;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.5;
  color: var(--main-font);
}

.cart__row-value {
  width: 50%;
  font-size: 16px;
  line-height: 20px;
}

.main-cart__price {
  margin: 18px 0 14px 0;
}

.main-cart__price-text {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.main-cart__price-number {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: var(--button);
}

.main-cart__button {
  margin-bottom: 38px;
}

.btn__pick-up {
  padding: 10px 20px;
  font-weight: 500;
  margin-right: 10px;
}

.btn__add-to-cart {
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  border: 1px solid #ececec;
  background-color: #fff;
}


@media screen and (max-width: 640px) {
  .main-cart__img {
    margin-right: 0;
    --span: 12;
    grid-column: span var(--span);
  }
  
  .main-cart__img img {
    min-width: 100%;
  }

  .main-cart__text  {
    --span: 12;
    grid-column: span var(--span);
  }
}

@media screen and (max-width: 440px)  {
  .cart__row-value {
    font-size: 14px;
  }

}
