

.main__content {
  padding-top: 24px;
  display: flex;
}

.filter__hidden {
  margin-top: 16px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--button);
  display: none;
}

.filter__hidden img {
  margin-right: 5px;
}

.filter {
  margin-right: 16px;
  min-width: 296px;
  max-height: 650px;
  grid-column: span var(--span);
  border-radius: 8px;
  background-color:#F2F2F2;
}

.filter__header {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 14px 16px;
  border-bottom: 1px solid rgb(232, 232, 232);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.filter__item {
  border-bottom: 1px solid rgb(232, 232, 232);
}

.filter__item-wrapper {
  padding: 14px 16px 14px 16px;
}

.filter__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.filter__item-header p {
  font-weight: 600;
  
}

.filter__item-header img {
  cursor: pointer;
}

.filter__item-search {
  margin-bottom: 14px;
  padding: 7px 34px;
  width: 100%;
  border-radius: 4px;
  border: none;
  outline: none;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 8px 50%;
  background-color:#FFFFFF;
}

.filter__item-search::placeholder {
  font-weight: 500;
  color: var(--input-placeholder);
}

.filter__show-more {
  color: var(--second-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 15px
}

.filter__item-size {
  display: flex;
  align-items: center;
  padding-bottom: 29px;
}

.filter__item-size span {
  margin-right: 14px;
}

.filter__item-size label input {
  width: 72px;
  height: 32px;
  padding: 7px;
  margin-right: 14px;
  border: none;
  border-radius: 4px;
}

/* filter dropdown */
.filter-dropdown__blackout{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  display: none;
}
.filter-dropdown {
  width: 100%;
  max-width: 320px;
  height: 100%;
  background-color: #F2F2F2;;
  position: absolute;
  top: 0;
  left: 0;
}

.section {
  min-width: 0px;
  width: 100%;
  --span: 9;
  grid-column: span var(--span);
}

.section__wrapper {
  margin-bottom: 52px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
  grid-gap: 24px 16px;
}

.section__item {
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  min-width: 216px;
  transition: .3s
}

.section__item:hover {
  border: 1px solid var(--button);
}

.section__item:hover .section__item-name {
  color: var(--second-font);
}

.section__item-img img {
  width: 100%;
  height: auto;
}

.section__item-info {
  padding: 8px 14px 14px 14px;
}

.section__item-name {
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  margin-bottom: 4px;
}

.section__item-price {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px
}

.section__bottom {
  display: flex;
  justify-content: center;
}

.section__show-more {
  margin-bottom: 68px;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 17px;
  color: var(--main-font);
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
}

@media screen and (max-width: 768px) {
  .filter__hidden {
    display: flex;
  }
  .filter {
    display: none
  }
  .filter-dropdown__blackout {
    display: none;
  }
}


