*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

:root {
  --main-font: #000000;
  --second-font: #ff9702;
  --button: #fbba3c;
  --button-hover: #fcd17d;
  --button-focus: #faaa0f;
  --input-placeholder: #cccccc;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-font)
}

.grid {
  display: grid;
  grid-gap: 16px;
  --cols: 12;
  grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
}


/* button */
.btn {
  padding: 7px 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 17px;
  font-size: 14px;
  color: var(--main-font);
  background-color: var(--button);
}


.bth:hover {
  transition: .3s;
  background-color: var(--button-hover);
  background-color: red;
}

.bth:focus {
  transition: .3s;
  background-color: var(--button-focus);
}

.container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 40px;
}

.logo {
  width: 105px;
  height: 75px;
}

.header {
  background-color: white;
}

.header__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header__logo{
  margin-right: 15px;
}

.header__catalog {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 148px;
  height: 45px;
  padding: 14px 32px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--button);
}

/* CATALOG BURGER */
.header__catalog-burger{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.header__catalog-burger-item {
  width: 16px;
  height: 2px;
  background-color: var(--main-font);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.header__catalog-burger-item::before, .header__catalog-burger-item::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background: var(--main-font);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}
.header__catalog-burger-item::before {
  transform: translateY(-7px);
}
.header__catalog-burger-item::after {
  transform: translateY(7px);
}

.header__catalog.open .header__catalog-burger-item {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.header__catalog.open .header__catalog-burger-item::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.header__catalog.open .header__catalog-burger-item::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.header__catalog-text {
  margin-left: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-font);
}

.search-wrapper {
  max-width: 495px;
  flex: 2;
  display: flex;
  align-items: center;
}

.search-wrapper__search {
  width: 100%;
  padding: 14px 14px 14px 34px;
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--button);
  background-image: url(./../img/search.svg);
  background-repeat: no-repeat;
  background-position: 8px 50%;
}

.search-wrapper__search::placeholder {
  font-weight: 500;
  line-height: 17px;
  color: var(--input-placeholder);
}


.search-wrapper__btn {
  margin-left: -10px;
  padding: 14px 32px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  background-color: var(--button);
  border: 1px solid var(--button);
}

.nav-icon {
  max-width: 32px;
  max-height: 32px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* NAVBAR BURGER */
.nav__burger-wrapper {
  background-color: var(--button);
  width: 56px;
  height: 45px;
  border-radius: 4px;
  display: none;
}

.nav__burger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 45px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.nav__burger-item {
  width: 16px;
  height: 2px;
  background-color: var(--main-font);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.nav__burger-item::before, .nav__burger-item::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background: var(--main-font);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}
.nav__burger-item::before {
  transform: translateY(-7px);
}
.nav__burger-item::after {
  transform: translateY(7px);
}

.nav__burger.open .nav__burger-item {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.nav__burger.open .nav__burger-item::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.nav__burger.open .nav__burger-item::after {
  transform: rotate(-45deg) translate(35px, 35px);
}


.header__nav a {
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 17px;
  color: var(--main-font);
}

.header__nav a p {
  margin-top: 5px;
}

.main {
  background-color: #f9f9f9;
}

.main__top-block {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.top-block-wrapper {
  padding: 14px 40px 16px 40px;
}

.top-block__bread-crumbs {
  margin-bottom: 14px;
}


.top-block__bread-crumbs a {
  font-size: 12px;
  line-height: 15px;
  opacity: 0.5;
  color: var(--main-font);
}

.top-block__bread-crumbs a:not(:last-child)::after{
  content: '/';
}

.top-block__bread-crumbs a:hover {
  text-decoration: underline;
  color: var(--main-font);
}

.top-block h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px
}

.main__catalog-open {
  display: none;
}

.dog, 
.cat {
  width: 50%;
  padding-top: 30px;
  padding-bottom: 29px;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: var(--main-font);
  text-align: center;
  transition: ease-out 0.1s;
}

.dog:hover, 
.cat:hover {
  transform: scale(1.05);
}

.dog {
  background-image: url(/img/dog-bg.png);
  background-size: cover;
  background-blend-mode: screen;
  background-color: #fbba3c;
}

.cat {
  background-image: url(/img/cat-bg.png);
  background-size: cover;
  background-blend-mode: screen;
  background-color: #fbba3c;
  background-color: #e95342;
}

/* Create a custom checkbox */
.checkbox {
 margin-bottom: 8px;
}

.checkbox__input {
  display: none;
}

.checkbox__label div {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid #E8E8E8;
  background-color: white;
}

.checkbox__label {
  display: flex;
  align-items: center;
}

.checkbox__input:checked + label div {
  background-image: url(../img/checked.svg);
  background-repeat: no-repeat;
  background-size: 50% 10px;
  background-position: center center;
}

.checkbox__label p {
  line-height: 17px;
  user-select: none;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
  .top-block-wrapper {
    padding-top: 14px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 768px) {
  .search-wrapper__btn {
    display: none;
  }

  .header__catalog {
    width: 114px;
  }

  .logo {
    width: 52px;
    height: 42px;
  }
}

@media screen and (max-width: 640px)  {
  .header__nav a {
    margin-left: 1vw;
  }
}

@media screen and (max-width: 540px)  {
  .header__catalog {
    display: none;
  }

  .header__nav {
    display: none;
  }
  
  .nav__burger-wrapper {
    margin-left: 10px;
    display: flex;
  }
}

