*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

:root {
  --main-font: #000000;
  --second-font: #ff9702;
  --button: #fbba3c;
  --button-hover: #fcd17d;
  --button-focus: #faaa0f;
  --input-placeholder: #cccccc;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-font)
}

.grid {
  display: grid;
  grid-gap: 16px;
  --cols: 12;
  grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
}


/* button */
.btn {
  padding: 7px 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 17px;
  font-size: 14px;
  color: var(--main-font);
  background-color: var(--button);
}


.bth:hover {
  transition: .3s;
  background-color: var(--button-hover);
  background-color: red;
}

.bth:focus {
  transition: .3s;
  background-color: var(--button-focus);
}

.container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 40px;
}

.logo {
  width: 105px;
  height: 75px;
}

.header {
  background-color: white;
}

.header__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header__logo{
  margin-right: 15px;
}

.header__catalog {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 148px;
  height: 45px;
  padding: 14px 32px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--button);
}

.header__catalog-burger div{
  width: 16px;
  height: 1px;
  border-radius: 4px;
  background-color: var(--main-font)
}

.header__catalog-burger div:nth-child(2) {
  margin: 5px 0;
}

.header__catalog-text {
  margin-left: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-font);
}

.search-wrapper {
  max-width: 495px;
  flex: 2;
  display: flex;
  align-items: center;
}

.search-wrapper__search {
  width: 100%;
  padding: 14px 14px 14px 34px;
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--button);
  background-image: url(./../img/search.svg);
  background-repeat: no-repeat;
  background-position: 8px 50%;
}

.search-wrapper__search::placeholder {
  font-weight: 500;
  line-height: 17px;
  color: var(--input-placeholder);
}


.search-wrapper__btn {
  margin-left: -10px;
  padding: 14px 32px;
  border-radius: 4px;
  font-weight: 500;
  background-color: var(--button);
  border: 1px solid var(--button);
}

.nav-icon {
  max-width: 32px;
  max-height: 32px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 45px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color:var(--button);
  display: none;
}

.nav__burger-wrapper div {
  width: 16px;
  height: 1px;
  border-radius: 4px;
  background-color: var(--main-font)
}

.nav__burger div:nth-child(2) {
  margin: 5px 0;
}

.header__nav a {
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 17px;
  color: var(--main-font);
}

.header__nav a p {
  margin-top: 5px;
}

.main {
  background-color: #f9f9f9;
}

.main__top-block {
  padding: 14px 0 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.top-block__bread-crumbs {
  margin-bottom: 14px;
}

.top-block__bread-crumbs a {
  font-size: 12px;
  line-height: 15px;
  opacity: 0.5;
  color: var(--main-font);
}

.top-block h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px
}

/* Create a custom checkbox */
.checkbox {
 margin-bottom: 8px;
}

.checkbox__input {
  display: none;
}

.checkbox__label div {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid #E8E8E8;
  background-color: white;
}

.checkbox__label {
  display: flex;
  align-items: center;
}

.checkbox__input:checked + label div {
  background-image: url(../img/checked.svg);
  background-repeat: no-repeat;
  background-size: 50% 10px;
  background-position: center center;
}

.checkbox__label p {
  line-height: 17px;
  user-select: none;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .search-wrapper__btn {
    display: none;
  }
  
  .filter__hidden {
    display: flex;
  }

  .header__catalog {
    width: 114px;
  }

  .logo {
    width: 52px;
    height: 42px;
  }
  
  .filter {
    position: absolute;
    left: -1000px;
  }
}

@media screen and (max-width: 640px)  {
  .header__nav a {
    margin-left: 1vw;
  }
}

@media screen and (max-width: 540px)  {
  .header__catalog {
    display: none;
  }

  .header__nav {
    display: none;
  }
  
  .nav__burger {
    display: flex;
  }
}

